# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/
dist/
coverage/

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# Build artifacts
*.tsbuildinfo

# CDK
platform/infrastructure/cdk.out/

# Infrastructure dependencies
platform/infrastructure/node_modules/
